<!DOCTYPE html>
<html lang="en">
    <head>
        {% assign assets_base_url = site.baseurl %}
        {% if site.cdn.jsdelivr.enabled %}
            {% assign assets_base_url = "https://testingcf.jsdelivr.net/gh/BG2FOU/BG2FOU.github.io@master" %}
        {% endif %}
        {% include head.html %}
        <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/404.css">
    </head>
    <body>
        <div class="blank-page">
        <a href="{{ '/' | prepend: assets_base_url }}" class="go-home">↩️ GO HOME</a>
        <div class="not-found-msg">
            <h1 class="sour-face">`Φ ⌒ `Φ ?</h1>
            <p style="font-size:1.75rem; color:#fa4251;">404: Page not found</p>
            <p style="font-size:1.25rem;">D-Data breach...? &nbsp&nbsp No such thing allowed!</p>
        </div>
        </div>
    </body>
    <script src="{{ assets_base_url }}/assets/js/404.js"></script>
</html>